<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.iworkos.com:30100/file/dfile/bf3a59cb-4d88-4e3e-9990-4e82a04e6c7f.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chinatelecom.anhui.ARScan</string>
				<key>bundle-version</key>
				<string>1.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Victory</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
